.lead__title {
  margin: 0;
  max-width: 700px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
}

@media (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 1.04;
  }
}
