.intro__text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63;
  margin: 0;
  color: #ffffff;
  max-width: 690px;
}

@media (min-width: 1080) {
  .intro__text {
    font-size: 18px;
  }
}
