.intro {
  padding: 0 16px;
}

@media (min-width: 768px) {
  .intro {
    padding: 0 24px;
  }
}

@media (min-width: 1024px) {
  .intro {
    padding: 0 48px;
  }
}

@media (min-width: 1280px) {
  .intro {
    padding: 0 148px;
  }
}
