.cover {
  position: relative;
  width: 100%;
  min-height: 200px;
}

@media (min-width: 465px) {
  .cover {
    min-height: 340px;
  }
}

@media (min-width: 768px) {
  .cover {
    min-height: 480px;
  }
}
@media (min-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}
@media (min-width: 1280px) {
  .cover {
    min-height: 740px;
  }
}
