.cover__background {
  background-image: url("../../../images/cover-trains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

@media (min-width: 465px) {
  .cover__background {
    min-height: 340px;
  }
}

@media (min-width: 768px) {
  .cover__background {
    min-height: 480px;
  }
}
@media (min-width: 1024px) {
  .cover__background {
    min-height: 640px;
  }
}
@media (min-width: 1280px) {
  .cover__background {
    min-height: 740px;
    margin: 0 48px;
  }
}
