.lead__caption {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  margin-top: 8px;
  margin-left: 16px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  align-self: flex-start;
}

@media (min-width: 1024px) {
  .lead__caption {
    margin-left: 0;
  }
}
